@tailwind base;
@tailwind components;
@tailwind utilities;


body{

    max-width: 1240px;
    margin: auto;
}

.p-btn{
    border-radius: 8px;
/* Linear */
background: linear-gradient(90.00deg, rgb(126, 144, 254),rgb(152, 115, 255) 100%);
}

.active{
    /* color: linear-gradient(90.00deg, rgb(126, 144, 254),rgb(152, 115, 255));; */
  text-decoration: underline;
  background:none;
}